.newsletter-cta-section {
  padding: 4.625rem 0 2.5rem 0;
  background-color: #edcf00;
  align-items: center;
  height: 18.75rem;
  min-width: 32rem;
  &__button.btn {
    padding: 0.75rem 1.562rem;
    border-radius: 0px;
    background-color: #1a1b1f;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    color: #fff;
    font-size: 0.75em;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.signup-form {
  padding: 2em 0;
  margin-left: auto;
  margin-right: auto;
  button {
    text-align: center;
    font: normal normal bold 0.75em/0.875rem Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    background: #0b879d 0% 0% no-repeat padding-box;
    padding: 0.812rem 1.812rem;
    border: 0px;
    border-radius: unset;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0px;
    border-bottom: 2px solid #cccccc;
    padding-left: 0.812rem;
    opacity: 1;
    height: 2.625rem;
    width: 13.75rem;
    font-size: 0.75em;
    font-family: Raleway;
    letter-spacing: 0px;
    color: black;
  }
  .msg-alert {
    p {
      text-align: center;
    }
  }
  &__input-group {
    margin-bottom: 1em;
    justify-content: center;
  }
}

@media (max-width: 1365px) {
  .newsletter-cta-section {
    height: 30rem;
  }
}

@media (max-width: 991.98px) {
  .signup-form {
    width: 80%;
  }
  .newsletter-cta-section {
    height: 18.75rem;
  }
}

@media (max-width: 767.98px) {
  .signup-form {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 575.98px) {
  .newsletter-cta-section {
    padding: 2em 10px;
    &__heading {
      font-size: 30px;
      line-height: 44px;
      margin-top: 0px;
    }
  }
}
