.rc-tabs-tabpane {
  padding: 0 5rem;
}
.rc-tabs {
  border: none !important;
}
.rc-tabs-nav-list {
  border: none !important;
  display: flex;
  justify-content: space-between;
}
.rc-tabs-nav-operations,
.rc-tabs-ink-bar {
  display: none;
}
.rc-tabs-tab {
  background: $color-secondary 0% 0% no-repeat padding-box;
  margin-bottom: 0.625rem;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
  width: 17.75rem;
  height: 6.25rem;
  background: $color-secondary 0% 0% no-repeat padding-box;
  color: $color-dark;
  text-align: center;
  font: normal normal normal 1.5em/2.125rem Roboto Slab;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rc-tabs-tab.rc-tabs-tab-active {
  background: $color-additional 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 60px #0000001a;
  .rc-tabs-tab-btn {
    background: $color-additional 0% 0% no-repeat padding-box;
  }
}
.rc-tabs-content-holder {
  padding-top: 2.5rem;
}

.about {
  h3 {
    text-align: left;
  }
  p {
    text-align: left;
    font: normal normal normal 1em/1.5rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &__work.row {
    margin: 0px;
    background: #edcf00 0% 0% no-repeat padding-box;
    .col-sm-6:last-of-type {
      padding: 4.375rem;
      width: 50%;
    }
    .col-sm-6:first-of-type {
      background: url('../../assets/images/aboutPerson.jpg') center no-repeat;
      background-size: cover;
    }
  }
  &__consultants,
  &__team {
    &--list {
      .about__team--person:hover {
        background: rgba(237, 207, 0, 0.9);
        .about__team--desc {
          display: unset;
        }
      }
    }
    margin: 0 !important;
    h3 {
      margin-bottom: 3.75rem;
    }
    padding: 4.35rem 4rem 0 4rem;
    .social-icon {
      font-size: 1.25em;
      width: 2.5rem;
      vertical-align: middle;
      color: black;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      &:hover {
        opacity: 1;
        color: #222222;
        text-decoration: none;
      }
    }
    &--details {
      padding: 2.5rem;
    }
    img {
      pointer-events: none;
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
    &--consultants {
      overflow: hidden;
      .about__team--details {
        padding: 2.5rem 14.687rem 2.5rem 2.5rem;
      }
      .about__team--person {
        overflow: hidden;
        width: 50%;
        height: 12.5rem;
        transition: ease 0.5s;
        .about__team--desc {
          display: none;
          transition: ease 1s;
        }
      }
    }
  }
}

.about__consultants.row {
  padding: 4.35rem 0 0 0;
  margin: 0;
  .col {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .rc-tabs-nav-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .about {
    img {
      pointer-events: none;
      position: absolute;
      width: 50%;
      height: 50%;
      min-width: 50%;
      min-height: 50%;
      z-index: -1;
    }
  }
}

@media (max-width: 575.98px) {
  .about__work.row {
    flex-direction: column;
    .col-sm-6:last-of-type {
      width: 100%;
    }

    .col-sm-6:first-of-type {
      height: 30rem;
    }
  }
}
