@import '../../styles/variables';

.friendly-section {
  background: $color-secondary 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 7.5rem 5rem;
  &__heading {
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
  }
  &__logo {
    margin-left: 2.5rem;
  }
  &__logo:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 1199.98px) {
  .friendly-section {
    img {
      width: 80%;
    }
    &__items {
      flex-wrap: nowrap;
    }
  }
}

@media (max-width: 991.98px) {
  .friendly-section {
    padding: 2em 10px 5em 10px;
    &__heading {
      font-size: 30px;
      line-height: 44px;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__logo {
      flex: 0 0 25%;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 767.98px) {
  .friendly-section {
    &__logo {
      margin: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .friendly-section {
    padding: 2em 10px 5em 10px;
    &__heading {
      font-size: 1.875rem;
      line-height: 2.75rem;
    }
    &__logo {
      margin: 2rem;
    }
    &__items {
      flex-direction: column;
    }
  }
}
