@import '../../styles/variables';

.carousel-item img {
  width: 100%;
  max-height: 36.25rem;
}

.main-slider {
  color: $color-light;
  .slick-dots {
    bottom: 1.25rem;
  }
  .slick-dots li button:before {
    color: $color-light;
    font-size: 0.625em;
    opacity: 0.75;
  }

  .slick-dots li.slick-active button:before {
    color: $color-light;
    font-size: 0.875em;
    opacity: 1;
  }
  &__item {
    height: 36.25rem;
    padding-left: 6.25rem;
    &--first {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5452556022408963) 0%,
          rgba(9, 9, 121, 0) 90%,
          rgba(255, 255, 255, 0) 100%
        ),
        url('../../public/images/baner_alt.jpg') center no-repeat;
      background-size: cover;
    }
  }
}
