.ea-button.btn {
  text-align: center;
  font: normal normal bold 0.75em/0.875rem Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  padding: 0.812rem 1.624rem;
  background: #0b879d 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
