.author {
  &__img {
    width: 45px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-right: 20px !important;
  }
}

.recommended-post {
  &__author {
    text-align: left;
    font: normal normal bold 16px/24px Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin: 0px;
  }
}

.recommended-slider {
  .slick-dots {
    bottom: 20px;
  }
  .slick-dots li button:before {
    color: white;
    font-size: 10px;
    opacity: 0.75;
  }

  .slick-dots li.slick-active button:before {
    color: white;
    font-size: 14px;
    opacity: 1;
  }
  &__item {
    height: 580px;
    padding-left: 100px;
    h1 {
      text-align: left;
      font: normal normal normal 44px/58px Roboto Slab;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin: 20px 0px;
    }
  }
}

.blog-posts {
  padding: 0px 100px;
  div {
    padding: 0px;
  }
  h3 {
    text-align: left;
    font: normal normal bold 16px/34px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  h2 {
    text-align: left;
    font: normal normal normal 24px/32px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 62px;
  }
}

.blog-post__first {
  h3 {
    text-align: left;
    font: normal normal bold 16px/34px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
  }
  h1 {
    text-align: left;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #ffffff;
  }
  h5 {
    margin-bottom: 0;
  }
  padding: 70px 100px 40px 100px;
  div {
    padding: 0px;
  }
  input {
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    height: 40px;
  }
  input:focus {
    background: #fafafa 0% 0% no-repeat padding-box;
    border-bottom: 2px solid #0b879d;
  }
  &--btn {
    background: #fafafa 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal bold 16px/34px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    padding: 13px 20px;
    border: 0px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    margin-bottom: 4px;
  }

  &--btn:hover {
    background: #fafafa 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 60px #0000001a;
  }
  .search-btn {
    background: #0b879d 0% 0% no-repeat padding-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: #fff;
    border: 2px solid #0b879d;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
  }

  .first-post {
    background-size: 150%;
    background-position: center;
    height: 470px;
    width: 764px;
    color: #f5f5f5;
    padding: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  }

  .first-post:hover {
    background-size: 200%;
  }
}

.page-controls {
  display: flex;
  justify-content: center;
}

.page-btn {
  border: none;
  width: 15%;
  height: 2rem;
  display: flex;
  align-items: center;
  margin: 1em 0.5em;
  justify-content: center;
  h6 {
    margin: 0 0.5em;
  }
}
