.author {
  &__img {
    width: 2.81rem;
    border-radius: 1.56rem;
    -webkit-border-radius: 1.56rem;
    -moz-border-radius: 1.56rem;
    -ms-border-radius: 1.56rem;
    -o-border-radius: 1.56rem;
    margin-right: 1.25rem !important;
  }
}

.recommended-post {
  &__author {
    text-align: left;
    font: normal normal bold 1rem/1.5rem Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin: 0px;
  }
}

.recommended-slider {
  .slick-dots {
    bottom: 1.25rem;
  }
  .slick-dots li button:before {
    color: white;
    font-size: 0.625rem;
    opacity: 0.75;
  }

  .slick-dots li.slick-active button:before {
    color: white;
    font-size: 0.875rem;
    opacity: 1;
  }
  &__item {
    height: 36.25rem;
    padding-left: 6.25rem;
    h1 {
      text-align: left;
      font: normal normal normal 2.75rem/3.625rem Roboto Slab;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin: 1.25rem 0;
    }
  }
}

.blog-posts {
  padding: 0 6.25rem;
  div {
    padding: 0px;
  }
  h3 {
    text-align: left;
    font: normal normal bold 1rem/2.125rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0px;
  }
  h2 {
    text-align: left;
    font: normal normal normal 1.5rem/2rem Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 0.31rem;
    margin-bottom: 3.875rem;
  }
}

.blog-post__first {
  h3 {
    text-align: left;
    font: normal normal bold 1rem/2.125rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
  }
  h1 {
    text-align: left;
    font: normal normal normal 2.125rem/2.81rem Roboto Slab;
    letter-spacing: 0px;
    color: #ffffff;
  }
  h5 {
    margin-bottom: 0;
  }
  padding: 4.375rem 6.25rem 2.5rem 6.25rem;
  div {
    padding: 0px;
  }
  input {
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    height: 2.5rem;
  }
  input:focus {
    background: #fafafa 0% 0% no-repeat padding-box;
    border-bottom: 2px solid #0b879d;
  }
  &--btn {
    background: #fafafa 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal bold 1rem/2.125rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    height: 3.75rem;
    padding: 0.81rem 1.25rem;
    border: 0px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    margin-bottom: 4px;
  }

  &--btn:hover {
    background: #fafafa 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3.75rem #0000001a;
  }
  .search-btn {
    background: #0b879d 0% 0% no-repeat padding-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: #fff;
    border: 0.125rem solid #0b879d;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .first-post {
    background-size: 150%;
    background-position: center;
    height: 29.375rem;
    width: 47.75rem;
    color: #f5f5f5;
    padding: 3.75rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  }

  .first-post:hover {
    background-size: 200%;
  }
}

.page-controls {
  display: flex;
  justify-content: center;
}

.page-btn {
  border: none;
  width: 15%;
  height: 2rem;
  display: flex;
  align-items: center;
  margin: 1em 0.5em;
  justify-content: center;
  h6 {
    margin: 0 0.5em;
  }
}

.post-thumb {
  height: 13.75rem;
  width: 22.625rem;
  border-radius: 0.625rem;
}

@media (max-width: 1365px) {
  .blog-post__first {
    flex-direction: column-reverse;
    div {
      max-width: 100%;
    }
    .search-box {
      width: 90%;
    }
    .first-post {
      width: 100%;
      margin-top: 3rem;
    }
  }
  .blog-posts {
    a {
      width: 45%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .page-btn {
    width: 25%;
  }
}

@media (max-width: 479px) {
}
