.main-nav {
  height: 5rem;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  &__logo {
    width: 15vw;
    height: 4rem;
  }
  &__item,
  &__dropdown-item {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1.25rem;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    padding: 0.5rem 1rem !important;
    &:hover {
      color: #ffffff;
    }
    img {
      height: 1.25rem;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
    &:hover,
    &:hover.nav-link,
    &--active {
      font-weight: bold;
      text-decoration: underline 2px;
      text-underline-offset: 7px;
    }
    &--social {
      margin-top: -1px;
    }
  }
  &__icon {
    font-size: 1rem;
    vertical-align: middle;
    color: white;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    &:hover {
      opacity: 1;
      color: #222222;
      text-decoration: none;
    }
  }
  &__dropdown-item {
    color: #000;
  }
  &__button.btn {
    padding: 2em;

    border-radius: 0px;
    background-color: #edcf00;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    color: #1a1b1f;
    border: 0px;
    font-size: 0.75em;
    line-height: 1.25rem;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    -ms-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    -o-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__toggler {
    .navbar-toggler-icon {
      //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  &__nav {
    position: absolute;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  &__brand {
    padding-left: 40px;
  }
  &--scrolled {
    background-color: #ffffff;
    .main-nav__item {
      color: #000;
    }
    .main-nav__icon {
      color: #000;
    }
  }
}

.logo {
  width: 250px;
  height: 100px;
}

.main-nav__button--wrapper {
  text-align: right;
  height: 100%;
}

.main-nav__donate--mobile {
  display: none;
}

@media (max-width: 1365px) {
  .logo {
    width: 150px;
  }
  // .main-nav__item--social {
  //   display: none;
  // }
}

@media (max-width: 991.98px) {
  .main-nav {
    height: 7rem;
  }
  .main-nav__button--wrapper {
    text-align: center;
  }
  .main-nav__donate {
    &--mobile {
      .main-nav__icon {
        color: black;
      }
      display: unset;
    }
    &--xl {
      display: none;
    }
  }
  .main-nav__button.btn {
    font-size: 1em;
    line-height: 1.5rem;
  }
  .main-nav--scrolled .main-nav__item,
  .main-nav__item {
    text-align: center;
    font-size: 1em;
    line-height: 1.5rem;
    color: #ffffff;
    .main-nav__icon {
      color: #fff;
    }
  }
  .main-nav__nav {
    background-color: #0b879d;
    flex-direction: column;
    position: unset;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
  .main-nav__toggler.navbar-toggler {
    order: -1;
    border: none;
    border-radius: 0;
    height: 7rem;
    width: 7rem;
    .main-nav__icon {
      font-size: 3rem;
    }
  }
  .navbar-collapse {
    order: 999;
  }
}

@media (max-width: 767.98px) {
  .main-nav__brand {
    .main-nav__logo {
      height: 5rem;
    }
  }
}

@media (max-width: 575.98px) {
  .logo {
    width: 150px;
    height: 50px;
  }
  .main-nav__brand {
    .main-nav__logo {
      height: 4rem;
    }
  }
}
