.post {
  padding-left: 11rem;
  padding-right: 11rem;
  &__header {
    height: 36.25rem;
    h1 {
      text-align: left;
      font: normal normal normal 2.75rem/3.625rem Roboto Slab;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      margin: 1.25rem 0;
    }
    p {
      text-align: center;
      font: normal normal bold 1rem/1.5rem Raleway;
      letter-spacing: 0;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1;
    }
  }
  .social-icon {
    font-size: 1.25rem;
    width: 2.5rem;
    vertical-align: middle;
    color: black;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    &:hover {
      opacity: 1;
      color: #222222;
      text-decoration: none;
    }
  }
  &__recommended.row {
    background: #fafafa 0% 0% no-repeat padding-box;
    height: 35rem;
    margin: 0;
    h2 {
      text-align: center;
      font: normal normal normal 2.125rem/2.8rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
      margin-top: 4.375rem;
      margin-bottom: 3.75rem;
    }
    h3 {
      text-align: left;
      font: normal normal normal 1.5rem/2rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
    }
    h4 {
      text-align: left;
      font: normal normal bold 1rem/1.5rem Raleway;
      letter-spacing: 0;
      color: #000000;
      text-transform: uppercase;
      margin-top: 1.625rem;
    }
    .post__recommended--list {
      padding: 0 6.25rem;
    }
  }
  &__content {
    padding-bottom: 2.25rem;
    padding-top: 4.375rem;
    p {
      text-align: left;
      font: normal normal normal 1rem/1.5rem Raleway;
      letter-spacing: -0.16px;
      color: #000000;
    }
    h1 {
      text-align: left;
      font: normal normal normal 3.375rem/4.5rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
    }
    h2 {
      text-align: left;
      font: normal normal normal 2.75rem/3.625rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
    }
    h3 {
      text-align: left;
      font: normal normal normal 2.125rem/2.8rem Roboto Slab;
      letter-spacing: 0px;
      color: #000000;
    }
    h4 {
      text-align: left;
      font: normal normal normal 1.5rem/2rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
    }
    h5 {
      text-align: left;
      font: normal normal bold 1rem/1.5rem Raleway;
      letter-spacing: 0;
      color: #000000;
      text-transform: uppercase;
    }
    h6 {
      text-align: left;
      font: normal normal bold 0.75rem/1.5rem Raleway;
      letter-spacing: 0;
      color: #000000;
      text-transform: uppercase;
    }
    figcaption {
      text-align: center;
      font: normal normal normal 1rem/1.5rem Roboto Slab;
      letter-spacing: -0.16px;
      color: #000000;
    }
    figure {
      text-align: center;
    }
    blockquote {
      padding: 4.375rem 6rem 4.7rem 6rem;
      margin: 2.8rem 0 2.5rem 0;
      background: url('../../assets/images/quote.png') bottom left no-repeat,
        #fafafa 0% 0% no-repeat padding-box;
      cite {
        text-align: left;
        font: normal normal normal 2.125rem/2.8rem Roboto Slab;
        letter-spacing: -0.34px;
        color: #000000;
      }
    }
    ol,
    ul {
      text-align: left;
      font: normal normal normal 1rem/2.125rem Raleway;
      letter-spacing: -0.16px;
      color: #000000;
    }
  }
  &__author {
    background: #fafafa 0% 0% no-repeat padding-box;
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    .author {
      &__img {
        width: 15.625rem;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        margin-right: 1.25rem !important;
      }
    }
    h3 {
      text-align: left;
      font: normal normal bold 1rem/1.5rem Raleway;
      letter-spacing: 0;
      color: #000000;
      text-transform: uppercase;
    }
    h2 {
      text-align: left;
      font: normal normal normal 2.125rem/2.8rem Roboto Slab;
      letter-spacing: 0;
      color: #000000;
    }
    p {
      text-align: left;
      font: normal normal normal 1rem/1.5rem Raleway;
      letter-spacing: -0.08px;
      color: #000000;
    }
  }
}

@media (max-width: 1365px) {
  .post__author {
    .author__img {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .post {
    padding: 0 5rem;
  }
}

@media (max-width: 767px) {
  .post {
    padding: 0 1rem;
    &__header {
      height: 30rem;
    }
  }
}

@media (max-width: 479px) {
}
