@import '../../styles/variables';

.footer {
  padding: 3.75rem 0;
  height: 18.75rem;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  opacity: 1;
  color: $color-light;
  &__column {
    &:first-of-type {
      margin-left: 3.75rem;
    }
    &:last-of-type {
      margin-left: 1.875rem;
    }
  }
  h4 {
    color: $color-light;
  }
  &__item.nav-link {
    padding: 0px 1rem 0px 0px;
    text-align: left;
    font: normal normal bold 0.75em/2.125rem Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    &:hover {
      color: #222222;
    }
  }
  &__text {
    text-align: left;
    font: normal normal bold 0.75em/2.125rem Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

@media (max-width: 1365px) {
  .footer {
    height: 30rem;
  }
}

@media (max-width: 767.98px) {
  .footer__item {
    text-align: right;
  }
  .footer__info {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  .footer {
    flex-direction: column;
    width: 100%;
    height: 20rem;
    .footer__column {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer__logo {
      width: 50vw;
    }
    .footer__column:last-of-type {
      display: none;
    }
    .footer__nav {
      align-items: center !important;
      font-size: 1.5rem;
      justify-content: space-between;
      margin-bottom: 2em;
    }
    .footer__text {
      text-align: center;
      font-size: 1rem;
    }
    p {
      text-align: center;
      font-size: 0.5rem;
    }
  }
}
