@import '../../../../styles/variables';

.about__fields {
  margin: 0 !important;
  padding: 5rem 6.25rem 4.25rem 6.25rem;
  &--intro {
    h3 {
      margin-bottom: 3.75rem;
    }
    p {
      padding: 0 5rem;
    }
  }
  .rc-tabs-tabpane {
    padding: 0 5rem;
  }
  .rc-tabs {
    border: none !important;
  }
  .rc-tabs-nav-list {
    border: none !important;
    display: flex;
    justify-content: space-between;
  }
  .rc-tabs-nav-operations,
  .rc-tabs-ink-bar {
    display: none;
  }
  .rc-tabs-tab {
    background: $color-secondary 0% 0% no-repeat padding-box;
    margin-bottom: 0.625rem;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-weight: normal;
    width: 17.75rem;
    height: 6.25rem;
    background: $color-secondary 0% 0% no-repeat padding-box;
    color: $color-dark;
    text-align: center;
    font: normal normal normal 1.5em/2.125rem Roboto Slab;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rc-tabs-tab.rc-tabs-tab-active {
    background: $color-additional 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 60px #0000001a;
    .rc-tabs-tab-btn {
      background: $color-additional 0% 0% no-repeat padding-box;
    }
  }
  .rc-tabs-content-holder {
    padding-top: 2.5rem;
  }
}

@media (max-width: 1365px) {
  .about__fields {
    padding: 5rem 0;
    .col {
      padding: 0;
    }
    .rc-tabs-tab-btn {
      width: 16rem;
    }
    .rc-tabs-nav-list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 991px) {
  .about__fields {
    .rc-tabs-tab {
      width: 50%;
      .rc-tabs-tab-btn {
        width: 100%;
      }
    }
  }
}
