@import '../../styles/variables';

.quote-section {
  justify-content: center;
  &__column.col {
    max-width: 1366px;
    padding: 4.687rem 11.437rem;
    background: url('../../public/images/quote.png') bottom left no-repeat;
  }
  background: $color-secondary no-repeat;
  opacity: 1;
  h3 {
    text-align: left;
    letter-spacing: -0.34px;
  }
  &__author {
    text-align: left;
    font: italic normal 300 2.125em/2.812rem Roboto Slab;
    color: $color-dark;
  }
  &__image {
    float: left;
    position: relative;
  }
}

@media (max-width: 991.98px) {
  .quote-section {
    .quote-section-column {
      max-width: 80%;
      flex: 0 0 80%;
    }
  }
}

@media (max-width: 767.98px) {
  .quote-section {
    &__quote {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }
}

@media (max-width: 575.98px) {
  .quote-section {
    &__column.col {
      padding: 4.687rem;
    }
    &__quote {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}
