.about__team--consultant {
  &-1 {
    background: url('../../../../public/images/team/consulting/ksarek.png')
      center no-repeat;
    background-size: cover;
  }
  &-2 {
    background: url('../../../../public/images/team/consulting/dgogloza.png')
      center no-repeat;
    background-size: cover;
  }
  &-3 {
    background: url('../../../../public/images/team/consulting/mwozniak.png')
      center no-repeat;
    background-size: cover;
  }
  &-4 {
    background: url('../../../../public/images/team/consulting/dwyrzykowski.png')
      center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .about__consultants {
    .about__team--person {
      width: 100%;
      height: 16rem;
    }
  }
}
