@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 8px;
  }

  @screen sm {
    html {
      font-size: 10px;
    }
  }

  @screen md {
    html {
      font-size: 12px;
    }
    .app__footer {
      flex-direction: column-reverse;
    }
  }

  @screen lg {
    html {
      font-size: 14px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
    @apply mb-3;
  }

  h1 {
    @apply text-center;
    @apply font-serif;
    @apply text-h1;
  }
  h2 {
    @apply text-left;
    @apply font-serif;
    @apply text-h2;
  }
  h3 {
    @apply text-center;
    @apply font-serif;
    @apply text-h3;
  }
  h4 {
    @apply text-left;
    @apply font-serif;
    @apply text-h4;
  }
  h5 {
    @apply text-left;
    @apply font-sans;
    @apply text-h5;
  }
  h6 {
    @apply text-left;
    @apply font-sans;
    @apply text-h6;
  }
  p {
    @apply text-left;
    @apply text-black;
    @apply font-sans;
    @apply text-p;
    @apply mb-6;
  }
}
