@import './styles/variables';

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-track img {
  margin-left: auto;
  margin-right: auto;
}

.slick-list {
  width: 100%;
}

*:focus {
  outline: none;
}

h1 {
  text-align: center;
  font: normal normal normal 3.375em/4.5rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h2 {
  text-align: left;
  font: normal normal normal 2.75em/3.625rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h3 {
  text-align: center;
  font: normal normal normal 2.125em/2.812rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h4 {
  text-align: left;
  font: normal normal normal 1.5em/2rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h5 {
  text-align: left;
  font: normal normal bold 1em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
  text-transform: uppercase;
}

h6 {
  text-align: left;
  font: normal normal bold 0.75em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
  text-transform: uppercase;
}

p {
  text-align: left;
  font: normal normal normal 1em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
}

@media (max-width: 1365px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }
  .app__footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 8px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .wide-spinner {
  height: 5rem;
  width: 5rem;
  margin: 10em auto;
  display: flex;
  color: #61dafb;
}

.ea-row.row {
  margin-left: 0px;
  margin-right: 0px;
}

.ea-col.col {
  padding-left: 0px;
  padding-right: 0px;
}

.ea-container.container {
  max-width: 1366px;
  margin-bottom: 0px;
}
